{% extends "base.html" %}

{% block content %}
  {{post.render(user=user) | safe}}
  <div class="comments-section">
    <h3>Comments</h3>
    {% if user %}
      <div class="comment-form">
        <form method="post" action="/blog/newcomment?post_id={{post.key().id()}}">
          <label>
            <div class="comment-new">New Comment:</div>
            <textarea name="content" class="comment-content">{{content}}</textarea>
          </label>
          <div class="error">{{error}}</div>

          <input type="submit" value="Submit">
        </form>
      </div>
    {% else %}
    <div> Please <a href="/login">login</a> or <a href="/signup">signup</a> before adding comment.</div>
    {% endif %}
    {% for comment in comments %}
      {{ comment.render(user=user, post=post) | safe }}
    {% endfor %}
  </div>
{% endblock %}
