<div class="post">
  <div class="post-heading">
    <a href="/blog/{{p.key().id() }}" class="post-title">
      {{p.subject}}
    </a>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>
  <div class="post-subtitle">
    <div class="posted-by"> Posted by {{ p.posted_by.name }} </div>
    {% if user %}
      {% if user.name == p.posted_by.name %}
        <div class="post-toolbar">
          <a href="/blog/edit?post_id={{p.key().id() }}" class="post-action">Edit</a>
          <a href="/blog/delete?post_id={{p.key().id() }}"
             onclick="return confirm('Are you sure you want to delete this post?');" class="post-action">Delete</a>
        </div>
      {% endif %}
    {% endif %}
  </div>
  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  <div class="post-socialbar">
    {% if comments.count() > 0 %}
      <a href="/blog/{{ p.key().id() }}" class="comments-count"> {{ comments.count()}} comment(s)</a>
    {% else %}
      <a href="/blog/{{ p.key().id() }}" class="comments-count"> 0 comment</a>
    {% endif %}
    <a href="/blog/vote?post_id={{p.key().id()}}&choice=like"><img class="img-vote" src="/static/like-24.png"></a> {{
    p.like_count}}
    <a href="/blog/vote?post_id={{p.key().id()}}&choice=dislike"><img class="img-vote" src="/static/dislike-24.png"></a>
    {{p.dislike_count}}
  </div>
</div>
